<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading">{{dish.name}} <span class="label label-danger">{{dish.label}}</span> <span class="badge">{{dish.price | currency}}</span></h2>
            <p>{{dish.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-xs-9 col-xs-offset-1">
        <div class="col-xs-12 col-sm-4" float="left">
          <h4>Customer Comments</h4>
        </div>
        <div class="col-xs-12 col-sm-6" float="left">
          <label for="sort" style="color: grey; padding: 10px;">Sort By: </label>
          <input type="text" id="sort" ng-model="sort">
        </div>
        <div class="col-xs-12">
          <ul class="list-unstyled">
            <li ng-repeat="comment in dish.comments | orderBy:sort">
              <blockquote>
                <p>{{comment.rating}} Stars</p>
                <p>{{comment.comment}}</p>
                <footer>
                  <cite>{{comment.author}} 
                    <strong>{{comment.date | date: 'MMM. dd, yyyy'}}</strong>                          
                  </cite>
                </footer>
              </blockquote>
            </li>
          </ul>
        </div>
      </div>
      <div  class="col-xs-12 col-sm-9 col-xs-offset-1" ng-controller="DishCommentController">
        <div id="preview" ng-show="feedbackForm.$valid && !feedbackForm.$pristine">
          <ul class="list-unstyled">
            <li>
              <blockquote>
                <p>{{feedback.rating}} Stars</p>
                <p>{{feedback.comment}}</p>
                <footer>
                  <cite>{{feedback.author}} 
                    <strong>{{comment.date | date: 'MMM. dd, yyyy'}}</strong>                          
                  </cite>
                </footer>
              </blockquote>
            </li>
          </ul>
        </div>
        <form class="form-horizontal" role="form" name="feedbackForm" ng-submit="sendFeedback()" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : feedbackForm.author.$error.required && !feedbackForm.author.$pristine }">
            <label for="author" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="author" name="author" placeholder="Enter First Name" ng-model="feedback.author" required><span ng-show="feedbackForm.author.$error.required && !feedbackForm.author.$pristine" class="help-block">Your First name is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Number of Stars</label>
            <div class="col-sm-9" id="guest">
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" ng-model="feedback.rating"> 1
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" ng-model="feedback.rating"> 2
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3" ng-model="feedback.rating"> 3
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="4" ng-model="feedback.rating"> 4
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="5" ng-model="feedback.rating" checked> 5
              </label>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : 
          feedbackForm.comment.$error.required && !feedbackForm.comment.$pristine }">
            <label for="comment" class="col-sm-3 control-label">Your Comment</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="feedback.comment" required></textarea>
              <span ng-show="feedbackForm.comment.$error.required && !feedbackForm.comment.$pristine" class="help-block">Your Comment name is required.</span>
            </div>
          </div> 
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid">Send Feedback</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>